*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --grid: 12;
  --grid-container-width: 1400px;
  --grid-container-gap: 15px;
  --grid-col-gap-vertical: 30px;
  --grid-col-gap-horizontal: 30px;
}

body {
  margin: 0;
  background-color: #fff;
  color: #7B88A8;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 400;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  color: #2D3958;
}

h1 {
  font-size: 72px;
  line-height: 1.08;
}

h2 {
  font-size: 48px;
  line-height: 1.17;
}

h3 {
  font-size: 42px;
  line-height: 1.19;
}

h4 {
  font-size: 36px;
  line-height: 1.28;
}

h5 {
  font-size: 22px;
  line-height: 1.45;
}

h6 {
  font-size: 18px;
  line-height: 1.56;
}

.button {
  padding: 19px 32px;
  border: none;
  border-radius: 5px;
  color: #FFF;
  text-transform: uppercase;
  font-family: "Outfit", sans-serif;
  cursor: pointer;
}

.button-style-2 {
  padding: 13px 24px;
}

.button--primary {
  background-color: #4F77FF;
}

.button--secondary {
  background-color: #886CFF;
}

.button--block {
  width: 100%;
  text-transform: uppercase;
}

.footer {
  padding-bottom: 100px;
}

.footer-col {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-col__title {
  color: #FFFFFF;
  font-weight: 400;
}

.footer-col__item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  font-family: "Outfit", sans-serif;
  color: #E7E5EA;
}

.footer-col__description {
  color: #E7E5EA;
}

.footer-col__submit {
  display: flex;
  gap: 6px;
}

.input-box {
  padding: 13px 18px;
  color: #7B88A8;
  border-radius: 5px;
}

.footer-col__note {
  font-size: 14px;
  letter-spacing: -0.3px;
  color: #E7E5EA;
}

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #7B88A8;
  padding: 27px 0;
}

.copyright__text {
  color: #E7E5EA;
}

.copyright__icon {
  display: flex;
  gap: 20px;
}

.icon-box {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: #4F77FF;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
}

.header {
  background-color: #F7F5F1;
}

.header-wrap {
  width: 100%;
  padding-top: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 14%;
  position: relative;
}

.header-wrap__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header-wrap__bar {
  display: none;
}

@media (max-width: 991px) {
  .header-wrap__bar {
    display: block;
    font-size: 24px;
    z-index: 3;
  }
  .header-wrap__content {
    position: fixed;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    top: 0;
    right: -60%;
    height: 100vh;
    width: 60%;
    background-color: #FFFFFF;
    z-index: 3;
    transition: all 0.5s ease-out;
  }
  .header-menu {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .header-menu__item--active {
    border-radius: 10px;
    background-color: #34C635;
    width: 100%;
  }
  .header-menu__item--active:before {
    display: none;
  }
}
.show-overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #333;
  z-index: 2;
  opacity: 0.5;
}

.show-menu {
  top: 0;
  right: 0%;
  opacity: 1;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.4);
}

.header-menu {
  display: flex;
  gap: 30px;
  padding: 0 3px;
}

.header-menu__item {
  text-decoration: none;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
  color: #7B88A8;
}

.header-button {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header-icon {
  display: flex;
  gap: 20px;
  z-index: 9;
}

.header-menu__item--active {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #2D3958;
}
.header-menu__item--active:before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #34C635;
  position: absolute;
  top: 18px;
}

.header-icon__item {
  font-size: 24px;
  position: relative;
}

.header-icon__item--active {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-icon__item--active:after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #EF3737;
  position: absolute;
  left: 14px;
  top: 1px;
}

.header-page {
  padding: 139px 0 203px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-page__title {
  font-size: 48px;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  color: #2D3958;
  letter-spacing: -2px;
}

.header-page__link {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 15px;
  font-weight: 500;
  font-family: "Outfit", sans-serif;
  text-transform: uppercase;
}

.home {
  color: #2D3958;
}

.page-section {
  width: 100%;
  margin-top: 100px;
  position: relative;
}

.page-section--bg {
  background-color: #F7F5F1;
}

.page-section--bg-black {
  background-color: #292F3A;
  margin-top: 0;
  padding-top: 100px;
}

.page-section--background {
  position: absolute;
  top: 0;
  width: 100%;
  height: 75%;
  background-color: #F7F5F1;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  border-bottom: 1px solid #E7E5EA;
}

.post-image {
  width: 100%;
}
.post-image img {
  width: 100%;
}

.post-title {
  padding: 25px 40px 50px 40px;
}

.post-title__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.author {
  display: flex;
  align-items: center;
  gap: 10px;
}

.author__name {
  font-size: 15px;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}

.time {
  font-size: 14px;
  font-family: "Outfit", sans-serif;
}

.post-title__title {
  font-size: 36px;
  font-weight: 500;
  letter-spacing: -1px;
  font-family: "Outfit", sans-serif;
  color: #2D3958;
  padding-top: 30px;
}

.post-title__description {
  padding-top: 30px;
  color: #2D3958;
}

.post-content {
  padding: 0 40px;
}

.content-text {
  padding-bottom: 30px;
}
.content-text p {
  padding-bottom: 30px;
}

.content-image {
  padding: 10px 0 40px 0;
}
.content-image img {
  width: 100%;
}

.content-quote {
  padding: 30px 50px;
  background-color: #F8FAFC;
  border-radius: 5px;
  color: #2D3958;
  font-size: 18px;
  letter-spacing: -0.3px;
  margin: 10px 0 40px 0;
}

.post-footer {
  width: 100%;
  padding: 0 40px 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tags-group {
  display: flex;
  gap: 5px;
}

.tags-group__tag {
  padding: 5px;
  border-radius: 5px;
  background-color: #4F77FF;
  color: #FFFFFF;
}

.icon-group {
  display: flex;
  gap: 15px;
  font-size: 20px;
}

.related {
  padding: 20px 40px 53px 40px;
  background-color: #F8FAFC;
  border-radius: 5px;
}

.acticle-item__image {
  width: 100%;
  padding-bottom: 20px;
}
.acticle-item__image img {
  width: 100%;
}

.comments {
  padding: 42px 30px 50px 30px;
  border: 1px solid #E7E5EA;
  margin-top: 50px;
}

.comments-title {
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(97, 119, 152, 0.2);
}

.comments-item {
  padding: 20px 0;
  border-bottom: 1px solid rgba(97, 119, 152, 0.2);
  display: flex;
  gap: 30px;
}

.comments-item--no-border {
  border-bottom: none;
  padding-bottom: 0;
}

.comment-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.comment-header__user-name {
  color: #333333;
}

.comment-header__comment-time {
  font-size: 14px;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
}

.comment-text {
  padding: 25px 0 43px 0;
}

.reply-comment {
  padding-left: 50px;
  padding-top: 30px;
}

.reply-button {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #4F77FF;
  padding-left: 20px;
  cursor: pointer;
}

.reply-button__icon {
  transform: rotateZ(-90deg);
}

.write-comment {
  padding-top: 40px;
}

.write-comment-label {
  font-size: 18px;
  font-weight: 500;
  font-family: "Outfit", sans-serif;
  color: #2D3958;
}

.comment-input-box {
  width: 100%;
  border: 1px solid #E7E5EA;
  border-radius: 5px;
}

.comment-input-box--small {
  padding: 10px 15px 10px 15px;
}

.comment-input-box--large {
  padding-left: 15px;
  height: 170px;
}

.submit-button {
  margin-top: 30px;
}

.content-box {
  padding: 20px 30px 30px 30px;
  background-color: #F8FAFC;
  border-radius: 5px;
  margin-bottom: 30px;
  position: relative;
}

.box-title {
  font-size: 18px;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  color: #2D3958;
  margin-bottom: 28px;
}

.input-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  background-color: #FFFFFF;
  border: 1px solid #E7E5EA;
  border-radius: 5px;
  padding: 0 15px;
  width: 100%;
}

.input-box__text {
  outline: none;
  border: none;
  padding: 10px 0;
  width: 100%;
}

.content-item {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.content-item__description {
  font-size: 14px;
  letter-spacing: -0.3px;
}

.tag-box {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.tag-box__text {
  padding: 5px;
  border-radius: 5px;
  background-color: #4F77FF;
  color: #FFFFFF;
  cursor: pointer;
}

.content-box--bg {
  padding: 0;
}

.subscribe {
  width: 100%;
  height: 395px;
  background-image: linear-gradient(0, rgba(50, 19, 112, 0.7), rgba(50, 19, 112, 0.7)), url(../../assets/images/back-ground/BG.png);
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 50px;
  border-radius: 5px;
}

.subscribe__title {
  font-size: 22px;
  font-family: "Outfit", sans-serif;
  letter-spacing: -1px;
  color: #FFFFFF;
  margin-bottom: 40px;
}

.container--cta {
  padding: 108px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 70px;
}

.title-box__small-text {
  font-size: 22px;
  letter-spacing: -1px;
  font-family: "Outfit", sans-serif;
  margin-bottom: 30px;
}

.title-box__big-text {
  font-size: 48px;
  letter-spacing: -2px;
  font-weight: 500;
  color: #2D3958;
}

.subscribe-input {
  width: 235px;
  padding: 19px;
  border: 1px solid #E7E5EA;
  border-radius: 5px;
}

.container {
  max-width: var(--grid-container-width);
  margin: auto;
  padding-left: var(--grid-container-gap);
  padding-right: var(--grid-container-gap);
}

.container--header {
  max-width: 1170px;
}

.container--main {
  max-width: 1200px;
}

.container--cta {
  max-width: 900px;
}

.container--footer {
  max-width: 1200px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(var(--grid-col-gap-vertical) / -2);
  margin-right: calc(var(--grid-col-gap-vertical) / -2);
}

[class^=col-] {
  padding-top: 30px;
  padding-left: calc(var(--grid-col-gap-vertical) / 2);
  padding-right: calc(var(--grid-col-gap-vertical) / 2);
}

.col-xs-1 {
  width: 8.33333%;
}

.col-xs-2 {
  width: 16.66666%;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-4 {
  width: 33.33333%;
}

.col-xs-5 {
  width: 41.66666%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-7 {
  width: 58.33333%;
}

.col-xs-8 {
  width: 66.66666%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-10 {
  width: 83.33333%;
}

.col-xs-11 {
  width: 91.66666%;
}

.col-xs-12 {
  width: 100%;
}

@media (min-width: 575px) {
  .col-sm-1 {
    width: 8.33333%;
  }
  .col-sm-2 {
    width: 16.66666%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33333%;
  }
  .col-sm-5 {
    width: 41.66666%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33333%;
  }
  .col-sm-8 {
    width: 66.66666%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.33333%;
  }
  .col-sm-11 {
    width: 91.66666%;
  }
  .col-sm-12 {
    width: 100%;
  }
}
@media (min-width: 767px) {
  .col-md-1 {
    width: 8.33333%;
  }
  .col-md-2 {
    width: 16.66666%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33333%;
  }
  .col-md-5 {
    width: 41.66666%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33333%;
  }
  .col-md-8 {
    width: 66.66666%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.33333%;
  }
  .col-md-11 {
    width: 91.66666%;
  }
  .col-md-12 {
    width: 100%;
  }
}
@media (min-width: 991px) {
  .col-lg-1 {
    width: 8.33333%;
  }
  .col-lg-2 {
    width: 16.66666%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33333%;
  }
  .col-lg-5 {
    width: 41.66666%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33333%;
  }
  .col-lg-8 {
    width: 66.66666%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.33333%;
  }
  .col-lg-11 {
    width: 91.66666%;
  }
  .col-lg-12 {
    width: 100%;
  }
}
@media (min-width: 1199px) {
  .col-xl-1 {
    width: 8.33333%;
  }
  .col-xl-2 {
    width: 16.66666%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-4 {
    width: 33.33333%;
  }
  .col-xl-5 {
    width: 41.66666%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-7 {
    width: 58.33333%;
  }
  .col-xl-8 {
    width: 66.66666%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-10 {
    width: 83.33333%;
  }
  .col-xl-11 {
    width: 91.66666%;
  }
  .col-xl-12 {
    width: 100%;
  }
}

/*# sourceMappingURL=single-post-style.css.map */
